 	body{
 		background-color: navajowhite;
 	}

button{
		border-radius: 5px;
		width: 10%;
		height: 50px;
		
}
#apagar{
	background-color: red;

}

#encender{
	
	background-color: blueviolet;
}


div{


}

img{
	vis
	width: 400px;
	height: 400px;
}

#datos{
	
	cursor: pointer;
	margin-top: 10vh ;
	min-height:70vh;
	max-width: 900px;
}

#divInterno{
	 display: flex;
  justify-content: center;
  align-items: center;
			min-height:70vh;
	max-width: 900px;
}

p{

	color: red;
	font-size: 5em;
	max-width: 900px;
}